.current-color {
	width: 15px;
	height: 15px;
	border: 1px solid #000;
}

input[name=rgb-hex]:invalid {
	border: 1px solid red;
}

input#color-position {
	height: 255px;
	width: 10px;
	-webkit-appearance: slider-vertical;
}